@media only screen and (min-width:200px) and (max-width:575px){
     .btnouter{
     	position: fixed;
     	bottom: 0px;
     	width: 100%;
     	justify-content: center;
     }
     .header-mid{
     	justify-content: center;
     }
}